@import url(https://fonts.googleapis.com/css?family=Raleway:300,100);
body{
	padding:0px;
	margin:0px;
	font-family: Raleway;
	background: #f5f5f5;
	overflow-x: hidden;
}
header{
	background: #6fdc6f;
	height: 10vh;
	width: 100vw;
	color: #fff;
	line-height: 10vh;
	position: fixed;
	border-bottom: 2px solid #fff;
}
#logo{
	padding-left: 5vw;
	font-size: 1.5em;
	text-decoration: none;
	color: #fff;
}
.sub_txt{
	float: right;
	font-size: 1em;
	padding-right: 5vw;
	text-decoration: none;
	color: #fff;
}
.sub_txt:hover{
	cursor: pointer;
}
#body{
	padding-top: 10vh;
	margin-left: 35vw;
}
.txt{
	width: 30vw;
	height: 5vh;
	padding-left: 5vh;
	font-family: Raleway;
}
.txt:focus{
	outline: none;
}
textarea{
	width: 30vw;
	height: 15vh;
	padding-left: 5vh;
	font-family: Raleway;
}
select{
	width: 10vw;
	font-family: Raleway;
}
.but{
	margin-top: 5vh;
	background: #fff;
	border: 1px solid #555;
	color: #555;
	font: 2em Raleway;
}
.but:hover {
	color: #359c35;
	border-color: #359c35;
}